[submodule "test/3rdparty/mockcpp"]
	path = test/3rdparty/mockcpp
	url = https://gitee.com/mirrors_sinojelly/mockcpp.git
[submodule "test/3rdparty/googletest"]
	path = test/3rdparty/googletest
	url = https://gitee.com/mirrors/googletest.git
[submodule "3rdparty/libboundscheck"]
	path = 3rdparty/libboundscheck
	url = https://gitee.com/openeuler/libboundscheck.git
[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://gitee.com/Tencent/RapidJSON.git
[submodule "plugins/smap/3rdparty/secure/libboundscheck"]
	path = plugins/smap/3rdparty/secure/libboundscheck
	url = https://gitee.com/openeuler/libboundscheck.git
[submodule "plugins/smap/3rdparty/spdlog"]
	path = plugins/smap/3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "plugins/smap/test/3rdparty/googletest"]
	path = plugins/smap/test/3rdparty/googletest
	url = https://gitee.com/mirrors/googletest.git
[submodule "plugins/smap/test/3rdparty/mockcpp"]
	path = plugins/smap/test/3rdparty/mockcpp
	url = https://gitee.com/mirrors_sinojelly/mockcpp.git
[submodule "plugins/ubdma/test/3rdparty/googletest"]
	path = plugins/ubdma/test/3rdparty/googletest
	url = https://gitee.com/mirrors/googletest.git
[submodule "plugins/ubdma/test/3rdparty/mockcpp"]
	path = plugins/ubdma/test/3rdparty/mockcpp
	url = https://gitee.com/mirrors_sinojelly/mockcpp.git
